absl-py
aiohttp
aiosignal
anyio
argon2-cffi
argon2-cffi-bindings
astor
astroid
asttokens
astunparse
async-timeout
attrs
backcall
backports.functools-lru-cache
beautifulsoup4
bleach
blinker
brotlipy
cachetools
certifi
cffi
charset-normalizer
click
colorama
colorthief
cryptography
debugpy
decorator
deep-translator
defusedxml
dnspython
docx2txt
easyocr
email-validator
entrypoints
executing
fastapi==0.89.1
fastjsonschema
ffmpeg-python==0.2.0
filelock
flatbuffers
flit_core
frozenlist
future
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gTTS
h11
h5py
httpcore
httptools
httpx
huggingface-hub
idna
imageio
importlib-metadata
importlib-resources
imutils
ipykernel==6.6.0
ipython==7.30.1
ipython-genutils==0.2.0
isort
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
keras==2.6.0
Keras-Preprocessing
lazy-object-proxy
lazy_loader
Markdown
MarkupSafe
matplotlib-inline
mccabe
mistune
mkl-fft
mkl-random
mkl-service
more-itertools
multidict
nest-asyncio
ninja
nltk
numpy
oauthlib
openai-whisper @ git+https://github.com/openai/whisper.git@7858aa9c08d98f75575035ecd6481f462d66ca27
opencv-python
opencv-python-headless
opt-einsum
orjson
packaging
pandocfilters
parso
pickleshare
Pillow
pkgutil_resolve_name
platformdirs
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pyasn1
pyasn1-modules
pyclipper
pycparser
pydantic
Pygments
PyJWT
pylint
pyOpenSSL
pypdf
pyrsistent
PySocks
python-bidi
python-dateutil
python-dotenv
python-multipart
PyWavelets
pywin32==302
pywinpty
PyYAML
pyzmq
regex==2022.10.31
requests
requests-oauthlib
rfc3986
rsa
scikit-image
scipy
Send2Trash
shapely
six
sniffio
soupsieve
stack-data
starlette
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
terminado
tifffile
tinycss2
tokenizers
toml
torch
torchvision
tornado
tqdm
traitlets
transformers
typing_extensions
ujson
urllib3
uvicorn
watchfiles
wcwidth
webencodings
websockets
Werkzeug
win-inet-pton
wincertstore
wrapt
yarl
zipp